{% extends "base.html" %}

{% block content %}
<div class="checklist">
    <h1>План</h1>
    <p>Готовое</p>
    <p>- заготовка сайта</p>
    <p>- подключение к бд</p>
    <p>- формы авторизации</p>
    <p>-регистрация и аутентификация на ресурсе в полной мере</p>
    <br>
    <p>В процессе</p>
    <p></p>
    <br>
    <p>Планируется</p>
    <p>-много всего</p>


    <br>
    <p>Задачи:</p>
    <p>-подтверждение регистрации через mail</p>
    <p>-новостной блог с админ</p>
    <p>-визитная карточка клуба</p>
    <p>-сопровождение проведения конкурсов стрельбы а также</p>
    <p>-сопровождение тренировок спортсменов</p>
    <p>-прочая бизнес логикика</p>
    <p> </p>
</div>
{% endblock %}
