{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="checklist">
    <h1>План</h1>
    <p>Готовое</p>
    <p>- заготовка сайта</p>
    <p>- подключение к бд</p>
    <p>- формы авторизации</p>
    <p>- регистрация и аутентификация</p>
    <p>- предварительное создание соревнований</p>
    <p>- предварительноеформы для создания соревнований</p>
    <p>- привязка зарегесрированого пользователя  к созданому соревнованию</p>
    <br>
    <p>В процессе</p>
    <p></p>
    <br>
    <p>Планируется</p>

    <br>
    <p>Задачи:</p>
    <p>Распределение роолей пользователей</p>
    <p>-подтверждение регистрации через mail</p>
    <p>-новостной блог с админ</p>
    <p>-визитная карточка клуба</p>
    <p>-сопровождение проведения конкурсов стрельбы а также</p>
    <p>-сопровождение тренировок спортсменов</p>
    <p>-прочая бизнес логикика</p>
    <p> </p>
</div>
{% endblock %}
