{% extends "base.html" %}

{% block content %}
<h1>Добавить участника</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name_player.label }}<br>
        {{ form.name_player(size=32) }}<br>
        <br>

        {% for error in form.name_player.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.sex_player.label }}<br>
        {{ form.sex_player(size=64) }}<br>
        <br>
        {% for error in form.sex_player.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.age_player.label }}<br>
        {{ form.age_player(size=64) }}<br>
        <br>
        {% for error in form.age_player.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.gun_player.label }}<br>
        {{ form.gun_player(size=64) }}<br>
        <br>
        {% for error in form.gun_player.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.section_player.label }}<br>
        {{ form.section_player(size=64) }}<br>
        <br>
        {% for error in form.section_player.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <br>
    <br>
    {{ form.submit() }}
</form>
{% endblock %}