{% extends "base.html" %}

{% block content %}
<br>
<br>


<h2>Админ панель</h2>


<ul>
    <li><a href="{{ url_for('basic_view.do_any') }}">admin</a></li>
</ul>

<table>
    <tr>
        <th>username</th>
        <th>email</th>
        <th>role</th>
        <th>delete</th>
    </tr>
    {% for i in lst_users %}
    <tr>
        <td>{{i.username}}</td>
        <td>{{i.email}}</td>
        <td>{{i.name}}</td>
        <td><a href="{{ url_for('basic_view.del_user', id=i.id) }}">delete</a></td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
