<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Shooting Range</title>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/header.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='shamrock.ico') }}">

</head>
<body>

<header>
    <nav class="menu">
        <ul>
            <li><a href="{{ url_for('basic_view.index') }}" class="linkhead">Новости</a></li>
            <li><a href="{{ url_for('basic_view.rating') }}" class="linkhead">Рейтинг</a></li>
            <li><a href="{{ url_for('basic_view.games') }}" class="linkhead">Соревнования</a></li>
            <li><a href="{{ url_for('basic_view.about') }}" class="linkhead">Информация</a></li>

            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('security.login') }}" class="linkhead">Вход</a></li>

            <li><a href="{{ url_for('security.register') }}" class="linkhead">Регистрация</a></li>
            {% else %}
            <li><a href="{{ url_for('basic_view.profile') }}" class="linkhead">Профиль</a></li>
            <li><a href="{{ url_for('security.logout') }}" class="linkhead">Выход</a></li>

            {% if current_user.roles[0].name == 'admin' %}
            <li><a href="{{ url_for('basic_view.admin') }}" class="linkhead">Admin</a></li>
            {% endif %}

            {% endif %}

        </ul>
    </nav>
</header>


{% block content %}{% endblock %}
</body>
</html>


