{% extends "base.html" %}

{% block content %}

<h1>Соревнование -- {{event_name}}</h1>

<br>
<br>
<table class="event_table">
    <tr>
        <th>id-участника</th>
        <th>имя участника</th>
        <th>город</th>
        <th>организация</th>
        <th>возраст</th>
        <th>пол</th>
        <th>оружие</th>
        <th>упражнение</th>
        <th>результат</th>
    </tr>
    {% for i in table %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.name_player}}</td>
        <td>{{i.city_player}}</td>
        <td>{{i.organization_player}}</td>
        <td>{{i.age_player}}</td>
        <td>{{i.sex_player}}</td>
        <td>{{i.gun_player}}</td>
        <td>{{i.section_player}}</td>
        <td>{{i.result_player}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
