{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/to_js.js') }}"></script>
<h2>Соревнование -- {{event_name}}</h2>

<br>
<br>
<table class="event_table">
    <tr>
        <th>id-участника</th>
        <th>имя участника</th>
        <th>город</th>
        <th>организация</th>
        <th>дата рождения</th>
        <th>пол</th>
        <th>Разряд</th>
        <th>упражнение</th>
        <th>результат</th>
        <th>редактировать</th>
        <th>выполненый разряд</th>
    </tr>
    {% for i in table %}
        <tr>
            <td>{{i[0].id}}</td>
            <td>{{i[0].name_player}}</td>
            <td>{{i[0].city_player}}</td>
            <td>{{i[0].organization_player}}</td>
            <td>{{i[0].age_player}}</td>
            <td>{{i[0].sex_player}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[0].section_player}}</td>
            <td><a href="#" onclick="show_result({{i[0].id}})">{{i[0].result_player}}</a></td>
            <td><a href="{{ url_for('basic_view.editresult', iduser=i[0].id, idevent=id_event) }}">редактировать</a>
                <a href="{{ url_for('basic_view.eventdataremove', iduser=i[0].id, idevent=id_event) }}">удалить</a></td>
            <td>{{i[0].reached_rank}}</td>
        </tr>
    {% endfor %}

    <form action="" method="post">
        {{ form.hidden_tag() }}
            <tr>
                <td></td>
                <td>{{ form.name_player() }}</td>

                {% for error in form.name_player.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <td>{{ form.city_player() }}</td>

                {% for error in form.city_player.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <td>{{ form.organization_player() }}</td>

                {% for error in form.organization_player.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <td>  {{ form.age_player() }}</td>

                {% for error in form.age_player.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <td> {{ form.sex_player() }}</td>

                {% for error in form.sex_player.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <td>  {{ form.rank_player() }}</td>

                {% for error in form.rank_player.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <td>  {{ form.section_player() }}</td>

                {% for error in form.section_player.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <td></td>

                <td>  {{ form.submit() }}</td>
            </tr>
    </form>
</table>


<dialog id="favDialog" >
    <h3>справка участника</h3>
    <ul id="ul">
        <li id="li_name">имя</li>
        <li id="li_age">возраст</li>
        <li id="li_sex">пол -</li>
        <li id="li_city">город -</li>
        <li id="li_organization">спортивный клуб -</li>
        <li id="li_rank">спортивный разряд -</li>
        <li id="li_event">соревнование -</li>
        <li id="li_excercise">упражнение -</li>
        <li id="li_result">результат -</li>

        <li id="li_ex1">1 подход</li>
        <li>...</li>
        <li>n подход</li>
        <li id="li_tens_count">количество 10</li>

        <li id="li_reached_rank">Выполненый разряд</li>

    </ul>
    <button id="close" onclick="close_dialog()">CLOSE</button>
</dialog>
{% endblock %}
