{% extends "base.html" %}

{% block content %}

<h2>Соревнование -- {{event_name}}</h2>

<br>
<br>
<table class="event_table">
    <tr>
        <th>id-участника</th>
        <th>имя участника</th>
        <th>город</th>
        <th>организация</th>
        <th>возраст</th>
        <th>пол</th>
        <th>Разряд</th>
        <th>упражнение</th>
        <th>результат</th>
        <th>выполненый разряд</th>
    </tr>
    {% for i in table %}
    <tr>
        <td>{{i[0].id}}</td>
        <td>{{i[0].name_player}}</td>
        <td>{{i[0].city_player}}</td>
        <td>{{i[0].organization_player}}</td>
        <td>{{i[0].age_player}}</td>
        <td>{{i[0].sex_player}}</td>
        <td>{{i[1]}}</td>
        <td>{{i[0].section_player}}</td>
        <td><a href="{{ url_for('basic_view.result', id=i[0].id) }}">{{i[0].result_player}}</a></td>
        <td>{{i[0].reached_rank}}</td>

    </tr>
    {% endfor %}
</table>

{% endblock %}
