{% extends "base.html" %}

{% block content %}
<br>
<br>


<h2>Реадактор соревнования</h2>
<p>{{t}}</p>

<p>список редакторов</p>
<table>
    <tr>
        <th>username</th>
        <th>email</th>
        <th>профиль</th>
        <th>статус</th>
        <th>действие</th>
    </tr>
    {% for i in table %}
    <tr>
        <td>{{i.username}}</td>
        <td>{{i.email}}</td>
        <td>{{i.id}}</td>
        <td>{{i.status}}</td>
        <td>принять отклонить</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
