{% extends "base.html" %}

{% block content %}

<h1>Соревнование -- {{event_name}}</h1>

<br>
<br>
<table class="event_table">
    <tr>
        <th>id-участника</th>
        <th>имя участника</th>
        <th>город</th>
        <th>организация</th>
        <th>дата рождения</th>
        <th>пол</th>
        <th>Разряд</th>
        <th>упражнение</th>
        <th>результат</th>
        <th>редактировать</th>
    </tr>
    {% for i in table %}
        <tr>
            <td>{{i[0].id}}</td>
            <td>{{i[0].name_player}}</td>
            <td>{{i[0].city_player}}</td>
            <td>{{i[0].organization_player}}</td>
            <td>{{i[0].age_player}}</td>
            <td>{{i[0].sex_player}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[0].section_player}}</td>
            <td><a href="{{ url_for('basic_view.result', id=i[0].id) }}">{{i[0].result_player}}</a></td>
            <td><a href="{{ url_for('basic_view.editresult', iduser=i[0].id, idevent=id_event) }}">редактировать</a>
                <a href="{{ url_for('basic_view.eventdataremove', iduser=i[0].id, idevent=id_event) }}">удалить</a></td>
        </tr>
    {% endfor %}

    <form action="" method="post">
        {{ form.hidden_tag() }}
            <tr>
                <td></td>
                <td>{{ form.name_player() }}</td>

                {% for error in form.name_player.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <td>{{ form.city_player() }}</td>

                {% for error in form.city_player.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <td>{{ form.organization_player() }}</td>

                {% for error in form.organization_player.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <td>  {{ form.age_player() }}</td>

                {% for error in form.age_player.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <td> {{ form.sex_player() }}</td>

                {% for error in form.sex_player.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <td>  {{ form.rank_player() }}</td>

                {% for error in form.rank_player.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <td>  {{ form.section_player() }}</td>

                {% for error in form.section_player.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <td></td>

                <td>  {{ form.submit() }}</td>
            </tr>
    </form>
</table>

{% endblock %}
