{% extends "base.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='js/to_flask.js') }}"></script>

    <h2>Соревнования</h2>

<br>
<br>
<table class="event_table">
    <tr>
        {% if current_user.is_authenticated%}
        <th>редактор</th>
        {% endif %}
        <th>организатор</th>
        <th>название</th>
        <th>дата начала</th>
        <th>дата окончания</th>
        <th>дата создания</th>
        <th>описание</th>
        <th>статус</th>
        <th>подробно</th>

    </tr>
    {% for i in table %}

    <tr>
        {% if current_user.is_authenticated%}
            <td>

                {% if i['selected'] == "creator" or  i['selected'] == "user"%}
                <input class="check_box" id="input_check" type="checkbox" disabled checked
                       onclick="reg_role_event({{i['id']}}, checked, {{current_user.get_id()}})" >

                {% elif i['selected'] == "register"%}
                <input class="check_box" id="input_check" type="checkbox" checked
                       onclick="reg_role_event({{i['id']}}, checked, {{current_user.get_id()}})" >

                {% else %}
                <input class="check_box" id="input_check" type="checkbox"
                       onclick="reg_role_event({{i['id']}}, checked, {{current_user.get_id()}})" >

                {% endif %}

            </td>
        {% endif %}
        <td>{{i['username']}}</td>
        <td>{{i['event_name']}}</td>
        <td>{{i['start_date']}}</td>
        <td>{{i['end_date']}}</td>
        <td>{{i['create_date']}}</td>
        <td>{{i['caption']}}</td>
        <td>{{i['event_status']}}</td>
        <td><a href="{{ url_for('basic_view.eventforall', idevent=i['id']) }}">просмотр</a></td>
    </tr>


    {% endfor %}
</table>



{% endblock %}
