{% extends "base.html" %}

{% block content %}

    <h1>Соревнования</h1>

<br>
<br>
<table class="event_table">
    <tr>
        <th>id-соревнования</th>
        <th>организатор</th>
        <th>название</th>
        <th>дата начала</th>
        <th>дата окончания</th>
        <th>дата создания</th>
        <th>описание</th>
        <th>статус</th>
        <th>подробно</th>

    </tr>
    {% for i in table %}

    <tr>
         <td>{{i[0].id}}</td>
        <td>{{i[1]}}</td>
        <td>{{i[0].event_name}}</td>
        <td>{{i[0].start_date}}</td>
        <td>{{i[0].end_date}}</td>
        <td>{{i[0].create_date}}</td>
        <td>{{i[0].caption}}</td>
        <td>{{i[0].event_status}}</td>
        <td><a href="{{ url_for('basic_view.eventforall', idevent=i[0].id) }}">просмотр</a></td>
    </tr>


    {% endfor %}
</table>


{% endblock %}
