{% extends "base.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='js/to_flask.js') }}"></script>

    <h1>Соревнования</h1>

<br>
<br>
<table class="event_table">
    <tr>
        {% if current_user.is_authenticated%}
        <th>редактор</th>
        {% endif %}
        <th>организатор</th>
        <th>название</th>
        <th>дата начала</th>
        <th>дата окончания</th>
        <th>дата создания</th>
        <th>описание</th>
        <th>статус</th>
        <th>подробно</th>

    </tr>
    {% for i in table %}

    <tr>
        {% if current_user.is_authenticated%}
            <td>
                <input class="check_box" id="input_check" type="checkbox"
                       onclick="q({{i[0].id}}, checked, {{current_user.get_id()}})" >
            </td>
        {% endif %}
        <td>{{i[1]}}</td>
        <td>{{i[0].event_name}}</td>
        <td>{{i[0].start_date}}</td>
        <td>{{i[0].end_date}}</td>
        <td>{{i[0].create_date}}</td>
        <td>{{i[0].caption}}</td>
        <td>{{i[0].event_status}}</td>
        <td><a href="{{ url_for('basic_view.eventforall', idevent=i[0].id) }}">просмотр</a></td>
    </tr>


    {% endfor %}
</table>


{% endblock %}
