{% extends "base.html" %}

{% block content %}

<p><a href="{{ url_for('basic_view.addevent') }}">Добавить соревнвоание</a></p>
<!--<p><a href="">Редактировать профиль</a></p>-->

    <h1>Соревнования, организованые {{username}}!</h1>
<br>
<br>
<table class="event_table">
    <tr>
        <th>id-соревнования</th>
        <th>название</th>
        <th>дата начала</th>
        <th>дата создания</th>
        <th>описание</th>
        <th>статус</th>
        <th>дата окончания</th>
        <th>подробно</th>
        <th>удалить</th>

    </tr>
    {% for i in table %}
    <a href="{{ url_for('basic_view.about') }}">
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.event_name}}</td>
            <td>{{i.start_date}}</td>
            <td>{{i.create_date}}</td>
            <td>{{i.caption}}</td>
            <td>{{i.event_status}}</td>
            <td>{{i.end_date}}</td>
            <td><a href="{{ url_for('basic_view.event', idevent=i.id) }}">просмотр</a></td>
            <td><a href="{{ url_for('basic_view.eventremove', idevent=i.id) }}">удалить</a></td>
        </tr>
    </a>
    {% endfor %}
</table>




{% endblock %}