{% extends "base.html" %}

{% block content %}


<h2>cоревнования, организованые {{username}}!</h2>
<br>
<table class="event_table">
    <tr>
        <th>Корректировака</th>
        <th>id-соревнования</th>
        <th>название</th>
        <th>дата начала</th>
        <th>дата создания</th>
        <th>описание</th>
        <th>статус</th>
        <th>дата окончания</th>
        <th>подробно</th>
        <th>удалить</th>

    </tr>
    {% for i in table %}
        <tr>
            <td><a href="{{ url_for('basic_view.event_edit',id=i.id) }}">редактировать</a></td>
            <td>{{i.id}}</td>
            <td>{{i.event_name}}</td>
            <td>{{i.start_date}}</td>
            <td>{{i.create_date}}</td>
            <td>{{i.caption}}</td>
            <td>{{i.event_status}}</td>
            <td>{{i.end_date}}</td>
            <td><a href="{{ url_for('basic_view.event', idevent=i.id) }}">просмотр</a></td>
            <td><a href="{{ url_for('basic_view.eventremove', idevent=i.id) }}">удалить</a></td>
        </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a href="{{ url_for('basic_view.addevent') }}">создать</a></td>
    </tr>

</table>
<br>
<h2>cоревнования, где {{username}} редактор</h2>



{% endblock %}