{% extends "base.html" %}

{% block content %}
<div class="checklist">
    <h1>Рейтинг</h1>
</div>

<p id = "testID">Транклюкируй</p>

<script type="text/javascript" src="{{ url_for('static', filename='js/test.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/to_flask.js') }}"></script>

<input value="тест" onclick="t()" type="button">

<br>
<br>
<br>
<br>

<input id="input_check" type="checkbox" onclick="q(id, checked)" >
<br>
<input id="input_check2" type="checkbox" onclick="q(id, checked)" disabled>



{% endblock %}
